body {
  background-image: url(http://1-background.com/images/ultraviolet/ultraviolet-dark1-repeating-background-tile.jpg) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar {
  background-color: rgba(143, 45, 146, 0.6);
  padding: 10px;
  border: inset 5px rgba(137, 18, 141, 0.733);
}

.nav-link {
  color: aliceblue !important;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

#home { 
  /* text-align: center; */
  /* padding-left: 320px; */
  /* align-items: center; */
  background-color: rgba(180, 100, 255, 0.151);
  color: rgb(125, 192, 252);
  border-color: blue;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}  

.importantRules {
  background-color: rgb(248, 163, 163);
  viewport-fit: 100%;
  color: rgb(1, 1, 105);
}

#importantbody {
  color: rgb(0, 0, 129);
  background-color: rgb(250, 135, 135);
}

.dogpic {
  max-width: 65%;
  max-height: 65%;
  margin: auto;
}

#homeheader {
  color: aqua;
}

#homeparagraphs {
  color: rgb(255, 255, 255);
}

.walkferret {
  max-width: 65%;
  max-height: 65%;
  margin: auto;
}

#contactheader {
  color: rgb(0, 102, 102);
  background-color: bisque;
}

#contactbody {
  color: rgb(0, 56, 102);
  background-color: rgb(252, 244, 235);
  border: curved;
}

.pawprint {
  max-width: 25%;
  max-height: 25%;
  margin: auto;
}

Table {
  background-color: rgb(157, 128, 177);
}

/* #table {
  color: white;
} */

#requirement {
  background-color: lightgreen;
}

#completed {
  background-color: rgb(37, 170, 253);
}

#analysising {
  background-color: rgb(241, 241, 141);
}

#debugging {
  background-color: lightpink;
}

#planning {
  background-color: lightsalmon;
}

#titleprojectpage {
  color: aliceblue;
}

 #customerheader {
  background-color: rgba(253, 186, 161, 0.534);
}
/*
#customersubtitle {
  background-color: rgba(255, 214, 199, 0.822);
}

#customer {
  background-color: rgba(255, 214, 199, 0.822);
}
*/

#customer-edit {
  background-color: rgba(255, 214, 199, 0.822);
  color: rgb(0, 0, 0);
} 
